
/* Tipo de letra Blender Pro */
@font-face {
    font-family: 'BlenderPro-Medium';
    src: url('assets/fonts/BlenderPro-Medium.eot');
    src: url('assets/fonts/BlenderPro-Medium.ttf') format('truetype'),
        url('assets/fonts/BlenderPro-Medium.woff') format('woff'),
        url('assets/fonts/BlenderPro-Medium.woff2') format('woff2');
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'BlenderPro-Medium', sans-serif;
    
}

/* Nav Bar */
.my-nav {
    background-color: white;    
}

nav {
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.13);
}

#my-header {
    height: 100vh;
    background-image: url(assets/imgs/MainBG.jpg);
    background-position: center;
}

/* P styles */
.p-h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 54px;
    color: #fff;
    margin-bottom: 0;
}

.p-h3 {
    font-family: 'BlenderPro-Medium', sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    text-decoration: none;
}

.p-h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color: #fff;
}

.p-h6 {
    font-family: 'BlenderPro-Medium', sans-serif;
    font-size: 18px;
    color: #fff;
}

#first-box a:hover {
    text-decoration: none;
}

h1 {
    color: red;
}
/* font-family: 'Nunito', sans-serif; */

.nav-links {
    color: #E6317B;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: 'BlenderPro-Medium', sans-serif;
    font-size: 18px;
}

.nav-links:hover {
    color: #d82e75;
    text-decoration: none;
}

#first-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.classy-div {
    background-color: #E6317B;
    border: 1px solid #FF43C0;
}

#juego {
    background-image: url(assets/imgs/background-1.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 991.98px) {
#my-header {
    background-image: url(assets/imgs/MainBG_small.jpg);
}

.nav-item {
    margin-top: 0.6rem;
}

}