
/* Tipo de letra Blender Pro */
@font-face {
    font-family: 'BlenderPro-Medium';
    src: url('assets/fonts/BlenderPro-Medium.eot');
    src: url('assets/fonts/BlenderPro-Medium.ttf') format('truetype'),
        url('assets/fonts/BlenderPro-Medium.woff') format('woff'),
        url('assets/fonts/BlenderPro-Medium.woff2') format('woff2');
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

#my-header {
    height: 100vh;
    background-image: url(assets/imgs/MainBG.jpg);
    background-position: center;
}

h1 {
    color: red;
    
}
/* font-family: 'Nunito', sans-serif; */